p{
    margin: auto;
    padding: 10px;
    text-align: center; 
}
#button{
    margin:auto;
  display:block;
   
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    cursor: grabbing;
    background-color: coral
}
