.sidebar{
    display: flex;
    width: 15%;
    margin-top: 50px;
    flex-direction: column;
    background-color: white;
    position:fixed;
}

button{
    background-color:black;
    margin-top: 2px;
    width: 100%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: start;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    
    
}
.fill{
    background-color:black;
    margin-top: 2px;
    height: 100%;
    width: 100%;
}