<div class="sidebar">
  <div>
      <button type="button" (click)="websites()" class="websites">Websites</button>
  </div>
  <div>
      <button type="button"  class="Scan Results">Scan Results</button>
  </div>
  <div>
      <button type="button"  class="Templates">Templates</button>

  </div>
  <div>
      <button type="button" (click)="cookiebanner()" class="Cookie Banner">Cookie Banner</button>

  </div>
  <div>
      <button type="button" >Cookie List"</button>

  </div>
  <div>
      <button type="button" >IAB Vendor List</button>

  </div>
  <div>
      <button type="button" >Preference Center</button>

  </div>
<div id="fill"> 
      
</div>
</div>

