 <div class="parent">
    <div class="division1">
        <p>Websites</p>
        <button type="button" class="Add_Website" (click)="function()">Add Website</button>
    </div>
    <div class="division2">
        <input type="text" placeholder="Search Websites"> 
    </div>
    <div>
        <app-demo></app-demo>
    </div>
    <div id="resp" style='overflow:scroll; width:86%;height:450px;'>
        <table class="table table-hover"> 
        <thead>   
        <tr>      
        <th scope="col">Domain</th>      
        <th scope="col">Pages</th>       
        <th scope="col">Unique Cookies</th>       
        <th scope="col">Cookies Change</th>    
        <th scope="col">Banner</th>      
        <th scope="col">Cookie List</th>       
        <th scope="col">Pref. Center</th>       
        <th scope="col">Next Scan</th>      
        <th scope="col">Status</th>      
        </tr>      
        </thead>       
        <tbody *ngFor="let element of response.content|paginate: config">      
        <tr>      
        <td><a href="http://{{element.domain}}">{{element.domain}}</a></td>        
        <td>{{element.pages}}</td>      
        <td>{{element.unique_cookies}}</td>       
        <td>{{element.cookies_changed}}</td>       
        <td><a href="#">{{element.banner}}</a></td>       
        <td><a href="#">{{element.cookie_list}}</a></td>      
        <td><a href="#">{{element.pref_center}}</a></td>       
        <td>{{element.datetime}}</td>      
        <td>      
        <div id="demo"      
        [ngStyle]= "{ 'background-color' : (element.status == 'Completed') ? 'green' :     
        (element.status == 'Scan Error') ? 'red' : 'blue' }">     
        {{element.status}}      
        </div>     
        </td>     
        </tr>     
        </tbody>    
        </table>
            
     
  <pagination-controls (pageChange)="pageChange($event)"   
  class="my-pagination"></pagination-controls>
</div>    
<!-- <div id="resp" style='overflow:scroll; width:100%;height:450px;'>
    <table class="table table-hover">
            <thead>   
                    <tr>      
                    <th scope="col">Domain</th>      
                    <th scope="col">Pages</th>       
                    <th scope="col">Unique Cookies</th> 
                    <th scope="col">Cookies Change</th>    
                    
                </tr>      
            </thead>
                    <tr *ngFor="let element of response.content | paginate: config">   
                        <td><a href="http://{{element.domain}}">{{element.domain}}</a></td>        
                        <td>{{element.pages}}</td>      
                        <td>{{element.unique_cookies}}</td>       
                        <td>{{element.cookies_changed}}</td>
                    </tr>

    
    </table>
    <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>

    </div> -->
</div>